<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
      <p>
       <%= "Voici la page du potin n°#{id}"  %><br/>
        <form action='/gossips/<%= id%>/comments/' method='POST'>
          Commenter le potin : <input type='text' name='gossip_comment'/><br/>
          <input type='submit'/>
        </form>

        <% comments.split.each do |gossip, index| %>
        
          <%= gossip %><br/>
          
        <% end %>

        <a href="/">  
          <button>Lien pour revenir à la page des potins</button>  
        </a>
      </p>
  </body>
</html> 