<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
      <p>
       <%= "Voici la page du potin n°#{id}"  %><br/>
        
        <%= author %><br/>
        <%= content %>

        <a href="/">  
          <button>Lien pour revenir à la page des potins</button>  
        </a>
      </p>
  </body>
</html>